Repository Grapegram/ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc:

{
  "src/**/*.{ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.{css,scss}": [
    "prettier --write --ignore-unknown"
  ]
}

fix: added deploy to githubpages instead chromatic
  .github/workflows/deploy.yml
Due: none

feat: added docs, updated project setup, added predeploy action
  .github/workflows/deploy-preview.yml
  .vscode/extensions.json
  README.md
  package.json
Due: none

fix: applied Rubik font by default for all heading variants
  src/styles/main.css
Due: prettier --write --ignore-unknown

feat: added codepanel for all components
  .storybook/preview.ts
Due: none

feat: added import-usage docs at the top of the component stories
  src/components/button/index.stories.tsx
  src/components/typography/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added Input component
  src/components/input/Input.vue
  src/components/input/index.stories.tsx
  src/components/input/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: updated project configuration
  .storybook/main.ts
  components.json
  package.json
  yarn.lock
Due: none

refactor: cahnged ring value from ststic 2px to 2
  src/components/button/Button.vue
Due: eslint --fix, prettier --write --ignore-unknown

feat: added new ring-accent color for outline
  src/styles/theme.css
Due: prettier --write --ignore-unknown

feat: added avatar component
  package.json
  src/components/avatar/Avatar.vue
  src/components/avatar/AvatarFallback.vue
  src/components/avatar/AvatarImage.vue
  src/components/avatar/index.stories.tsx
  src/components/avatar/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

refactor: improved instructions for llms
  .github/copilot-instructions.md
Due: none

refactor: added lucide icons like external peer deps
  package.json
Due: none

feat: added badge component
  src/components/badge/Badge.vue
  src/components/badge/index.stories.tsx
  src/components/badge/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: let components to be exported from package
  src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added separator component
  package.json
  src/components/separator/Separator.vue
  src/components/separator/index.stories.tsx
  src/components/separator/index.ts
  src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added skeleton component
  src/components/skeleton/Skeleton.vue
  src/components/skeleton/index.stories.tsx
  src/components/skeleton/index.ts
  src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: added field component
  src/components/field/Field.vue
  src/components/field/FieldContent.vue
  src/components/field/FieldDescription.vue
  src/components/field/FieldError.vue
  src/components/field/FieldGroup.vue
  src/components/field/FieldLabel.vue
  src/components/field/FieldLegend.vue
  src/components/field/FieldSeparator.vue
  src/components/field/FieldSet.vue
  src/components/field/FieldTitle.vue
  src/components/field/Label.vue
  src/components/field/index.stories.tsx
  src/components/field/index.ts
  src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: added disabled state for field
  src/components/field/Field.vue
  src/components/field/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

0.3.0
  package.json
Due: none

refactor: updated documentation
  README.md
  src/Installation.mdx
  src/components/avatar/index.stories.tsx
  src/components/badge/index.stories.tsx
  src/components/button/index.stories.tsx
  src/components/field/index.stories.tsx
  src/components/input/index.stories.tsx
  src/components/separator/index.stories.tsx
  src/components/skeleton/index.stories.tsx
  src/components/typography/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: enhanced theming and Tailwind configuration with new exports and documentation updates
  .github/copilot-instructions.md
  .storybook/preview.ts
  package.json
  src/styles.d.ts
  src/styles/main.css
  src/styles/tailwind.config.css
  src/styles/theme.css
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

0.3.1
  package.json
Due: none

feat: add example project to test uikit intgeration to other projects
  example/.gitignore
  example/README.md
  example/index.html
  example/package.json
  example/public/vite.svg
  example/src/App.vue
  example/src/main.ts
  example/src/styles/main.css
  example/tsconfig.json
  example/vite.config.ts
Due: none

refactor: refactor layout styles of image
  src/components/message/MessageContent.vue
  src/components/message/MessageFooter.vue
  src/components/message/MessageHeader.vue
Due: eslint --fix, prettier --write --ignore-unknown

feat: add initial message component
  package.json
  src/components/message/ImagesContent.vue
  src/components/message/Message.vue
  src/components/message/MessageContent.vue
  src/components/message/MessageHeader.vue
  src/components/message/MessageTail.vue
  src/components/message/TextContent.vue
  src/components/message/index.stories.tsx
  src/components/message/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat: add message footer
  package.json
  src/components/message/Message.vue
  src/components/message/MessageContent.vue
  src/components/message/MessageFooter.vue
  src/components/message/TextContent.vue
  src/components/message/index.stories.tsx
  src/components/message/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: update tail
  src/components/message/MessageTail.vue
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove unused markdown features
  package.json
  src/components/message/TextContent.vue
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

fix: add missed timestamps in storybook
  src/components/message/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add small y shift for inline footer in message
  src/components/message/MessageContent.vue
Due: eslint --fix, prettier --write --ignore-unknown

feat: update message storybook
  src/components/message/index.stories.tsx
  src/styles/tailwind.config.css
  src/styles/theme.css
Due: eslint --fix, prettier --write --ignore-unknown

feat: added auto switch component theme with storybook theme switcher
  .storybook/preview.ts
Due: none

fix: fixed my fucking brilliant idea to reverse light and dark token
  src/styles/theme.css
Due: prettier --write --ignore-unknown

feat: add borders for single image with header
  src/components/message/MessageContent.vue
Due: eslint --fix, prettier --write --ignore-unknown

fix: fixed separator api
  src/components/separator/Separator.vue
  src/components/separator/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: fixed footer elements position + added status visualization to storybook
  src/components/message/MessageContent.vue
  src/components/message/MessageFooter.vue
  src/components/message/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: corrected description for components to stories
  src/components/avatar/index.stories.tsx
  src/components/badge/index.stories.tsx
  src/components/button/index.stories.tsx
  src/components/field/index.stories.tsx
  src/components/input/index.stories.tsx
  src/components/separator/index.stories.tsx
  src/components/skeleton/index.stories.tsx
  src/components/typography/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

1.0.0
  package.json
Due: none
