Repository Grapegram/ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc:

{
  "src/**/*.{ts,tsx,vue}": [
    "eslint --fix",
    "prettier --write --ignore-unknown"
  ],
  "src/**/*.{css,scss}": [
    "prettier --write --ignore-unknown"
  ]
}

feat: added font styles and update imports in main.css
  package.json
  src/Installation.mdx
  src/styles/fonts.css
  src/styles/main.css
  vite.config.ts
Due: prettier --write --ignore-unknown

feat: corected link styling
  src/components/button/Button.vue
Due: eslint --fix, prettier --write --ignore-unknown

1.0.1
  package.json
Due: none

fix: fix types naming and export message component
  src/components/message/Message.vue
  src/components/message/index.stories.tsx
  src/components/message/index.ts
  src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(message): rename user to sender
  src/components/message/Message.vue
  src/components/message/index.stories.tsx
Due: eslint --fix, prettier --write --ignore-unknown

1.1.0
  package.json
Due: none

feat: fixed animations
  package.json
  src/Installation.mdx
  src/styles/animations.css
  src/styles/main.css
  vite.config.ts
Due: prettier --write --ignore-unknown

1.1.1
  package.json
Due: none
